<div class="sign-in-container">
  <label class="border-label" for="border">
    <h1>Sign in form</h1>
  </label>
  <div id="border" class="sign-in-border">
    <form [formGroup]="signInForm" (submit)="onSubmit()">
      <div class="grid">
        <div *ngIf="isLoginFailed" class="col-12">
          <div class="invalid-feedback">Login or password is invalid</div>
        </div>
        <div class="col-6 ml-6">
          <label class="input-label" for="login">Login</label>
          <input id="login" type="login" aria-describedby="login" placeholder="Login"
                 formControlName="login" class="form-control" pInputText />
        </div>
        <div class="col-5">
          <label class="input-label" for="password">Password</label>
          <input id="password" type="password" aria-describedby="password" placeholder="Password"
                 formControlName="password" class="form-control" pInputText />
        </div>
        <div class="col-11 mt-3 text-right">
          <p-button type="submit" label="Sign In" ></p-button>
        </div>
      </div>
    </form>
  </div>
</div>
