@import 'src/styles'

.navbar-container
  position: sticky
  position: -webkit-sticky
  top: 0
  z-index: 1000

.home-navbar-link
  font: $primary-font
  color: $secondary-color
  font-size: large
  text-decoration: none
  padding-left: 2%

.spacer
  flex: 1 1 auto

.mini-spacer
  flex: 0.05 0.05

.currency-table-link
  font: $primary-font
  color: $secondary-color
  font-size: medium
  text-decoration: none
