@import 'src/styles'

.navbar-container
  position: sticky
  position: -webkit-sticky
  width: 100% !important
  top: 0
  z-index: 1000

.home-navbar-link
  font-size: large
  padding-left: 2%

.spacer
  flex: 1 1 auto

.mini-spacer
  flex: 0.05 0.05

.currency-table-link
  font-size: medium


a
  text-decoration: none
  font: $primary-font
  color: $secondary-color
