<div class="navbar-container">
  <mat-toolbar color="primary">
    <a class="home-navbar-link" routerLink="/home">Investing Pal</a>
    <span class="mini-spacer"></span>
    <a class="currency-table-link" routerLink="/current-value-table">Currency value table</a>
    <span class="spacer"></span>
    <button mat-icon-button class="sign-in-button" aria-label="icon-button for singing in" routerLink="/home/sign-in">
      <mat-icon class="sign-in-icon">account_circle</mat-icon>
    </button>
  </mat-toolbar>
</div>
