<div class="current-value-table-container">
  <div class="card">
  <p-table
    [value]="currentValues"
    selectionMode="single"
    [(selection)]="selectedCurrency"
    (onRowSelect)="onRowSelect($event)">

    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        Exchange rate
        <p-dropdown
          class="float-right"
          [(ngModel)]="selectedSource"
          [options]="sources"
          optionLabel="name"
          (onChange)="onDropdownChange($event)">
        </p-dropdown>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Currency</th>
        <th>Name</th>
        <th>Bid price</th>
        <th>Ask price</th>
        <th>Mean Value</th>
        <th>Spread</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-currentValue>
        <tr [pSelectableRow]="currentValue">
            <td>{{currentValue.currency.abbr}}</td>
            <td>{{currentValue.currency.name | titlecase}}</td>
            <td>{{currentValue.bidValue/1000 + " PLN"}}</td>
            <td>{{currentValue.askValue/1000 + " PLN"}}</td>
            <td>{{currentValue.meanValue/1000 + " PLN"}}</td>
            <td>{{currentValue.spread/100 + " %"}}</td>
        </tr>
    </ng-template>
  </p-table>
  </div>
</div>
