<p-table [value]="currencies">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      Exchange rate
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Currency</th>
      <th>Name</th>
      <th>Bid price</th>
      <th>Ask price</th>
      <th>Mean Value</th>
      <th>Spread</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-currency>
    <tr>
      <td>{{currency.abbr}}</td>
      <td>{{currency.name}}</td>
      <td>{{currency.currentValue.bidValue/1000}}</td>
      <td>{{currency.currentValue.askValue/1000}}</td>
      <td>{{currency.currentValue.meanValue/1000}}</td>
      <td>{{currency.currentValue.spread/100}}</td>
    </tr>
  </ng-template>
</p-table>
