<div class="chart-container">
  <div class="card">
    <h1>Archival data of {{abbr}} value from {{source}}</h1>
    <p-chart #chart id="chart" type="line" [data]="chartData" [options]="chartOptions" width="80vw" height="30vw" ></p-chart>
    <div class="dropdown-container text-center">
      <label class="dropdown-label" for="source-dropdown">Source: </label>
      <p-dropdown
        id="source-dropdown"
        class="archival-data-dropdown"
        [(ngModel)]="selectedSource"
        [options]="sources"
        [placeholder]="selectedSource.name"
        (onChange)="onSourceDropdownChange($event)"
        optionLabel="name">
      </p-dropdown>

      <label class="dropdown-label" for="source-dropdown">Currency: </label>
      <p-dropdown
        id="currency-dropdown"
        class="archival-data-dropdown"
        [(ngModel)]="selectedCurrency"
        [options]="currencies"
        [placeholder]="selectedCurrency.abbr"
        (onChange)="onCurrencyAbbrDropdownChange($event)"
        optionLabel="abbr">
      </p-dropdown>

      <label class="dropdown-label" for="range-dropdown">Range: </label>
      <p-dropdown
        id="range-dropdown"
        class="archival-data-dropdown"
        [(ngModel)]="range"
        [options]="rangeList"
        optionLabel="name"
        optionValue="value"
        placeholder="Month"
        (onChange)="onRangeDropdownChange($event)">
      </p-dropdown>
    </div>
  </div>
</div>
