<div class="user-profile-container">
  <div class="user-profile-details-container">
    <div class="grid">
      <div class="col-6">
        <label class="border-label" for="border">
          <h1>Profile details</h1>
        </label>
        <div id="border" class="user-profile-details-border">
          <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()">
            <div class="grid">
              <div class="col-6 ml-6">
                <label class="input-label" for="name">Name</label>
                <input id="name" type="name" aria-describedby="name" [placeholder]="userService.getCurrentUser().name"
                       formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['name'].errors }"
                       [readonly]="!editing" pInputText />
                <div *ngIf="submitted && form['name'].errors" class="invalid-feedback">
                  <div *ngIf="form['name'].errors['required']">Name is required</div>
                </div>
              </div>
              <div class="col-3">
                <label class="input-label" for="surname">Surname</label>
                <input id="surname" type="surname" aria-describedby="surname" [placeholder]="userService.getCurrentUser().surname"
                       formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['surname'].errors }"
                       [readonly]="!editing" pInputText />
                <div *ngIf="submitted && form['surname'].errors" class="invalid-feedback">
                  <div *ngIf="form['surname'].errors['required']">Surname is required</div>
                </div>
              </div>
              <div class="col-6 ml-6 mt-4">
                <label class="input-label" for="login">Login</label>
                <input id="login" type="login" aria-describedby="login" [placeholder]="userService.getCurrentUser().login"
                       formControlName="login" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['login'].errors }"
                       [readonly]="!editing" pInputText />
                <div *ngIf="submitted && form['login'].errors" class="invalid-feedback">
                  <div *ngIf="form['login'].errors['required']">Login is required</div>
                </div>
              </div>
              <div class="col-5 mt-4">
                <label class="input-label" for="email">E-mail</label>
                <input id="email" type="email" aria-describedby="email" [placeholder]="userService.getCurrentUser().email"
                       formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['email'].errors }"
                       [readonly]="!editing" pInputText />
                <div *ngIf="submitted && form['email'].errors" class="invalid-feedback">
                  <div *ngIf="form['email'].errors['required']">Email is required</div>
                </div>
                <div *ngIf="wrongEmail" class="invalid-feedback">
                  <div>This email is taken</div>
                </div>
              </div>
              <p-confirmPopup></p-confirmPopup>
              <div class="col-6 mt-3 ml-6">
                <p-button (onClick)="confirm($event)" label="Delete account"></p-button>
              </div>
              <div *ngIf="!editing" class="col-4 mt-3 ml-4 text-right">
                <p-button (onClick)="edit()" label="Edit" ></p-button>
              </div>
              <div *ngIf="editing" class="col-4 mt-3 ml-4 text-right">
                <p-button type="submit" label="Submit changes" ></p-button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-5.5 ml-7">
          <p-table
            [value]="userAlerts"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Currency name</th>
                <th>Alert value</th>
                <th>Increase</th>
                <th>Repeatable</th>
                <th>Delete</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-alert let-i>
              <tr>
                <td>{{alert.currency.name | titlecase}}</td>
                <td>{{alert.alertValue/1000 + " PLN"}}</td>
                <td>{{alert.increase? "Yes" : "No"}}</td>
                <td>{{alert.repeatable? "Yes" : "No"}}</td>
                <td><button pButton pRipple label="Delete" icon="pi pi-trash" (click)="deleteAlert(alert)"></button></td>
              </tr>
            </ng-template>
          </p-table>
          <div class="col-12 text-right">
            <button pButton pRipple label="Add new alert" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNewAlert()"></button>
          </div>
        <p-dialog [(visible)]="alertDialog" [style]="{width: '450px', height: '600px'}" header="Alert Details" [modal]="true" styleClass="p-fluid">
          <ng-template pTemplate="content">
            <div class="p-field mb-4">
              <label for="alertCurrency">Name</label>
              <p-dropdown id="alertCurrency" [options]="currencies" [(ngModel)]="newAlert.currency" optionLabel="name"></p-dropdown>
              <small class="p-error" *ngIf="submittedAlert && !newAlert.currency.abbr">Abbr is required.</small>
            </div>
            <div class="p-field mb-4">
              <label for="alertValue">Alert Value</label>
              <p-inputNumber id="alertValue" type="number" mode="decimal" [required]="true" [min]="0" [maxFractionDigits]="2" [(ngModel)]="newAlertValue"></p-inputNumber>
              <small class="p-error" *ngIf="wrongNewAlertValue">Alert value is required.</small>
            </div>
            <div class="p-field mb-4">
              <label for="increase">Increase</label>
              <p-dropdown id="increase" [options]="alertOptions" [(ngModel)]="newAlert.increase" optionLabel="name" optionValue="value"></p-dropdown>
              <small class="p-error" *ngIf="submittedAlert && !newAlert.increase">Increase is required.</small>
            </div>
            <div class="p-field mb-4">
              <label for="repeatable">Repeatable</label>
              <p-dropdown id="repeatable" [options]="alertOptions" [(ngModel)]="newAlert.repeatable" optionLabel="name" optionValue="value"></p-dropdown>
              <small class="p-error" *ngIf="submittedAlert && !newAlert.repeatable">Repeatable is required.</small>
            </div>
          </ng-template>

          <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveAlert()"></button>
          </ng-template>
        </p-dialog>
        </div>
      </div>
    </div>
</div>
